* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: capitalize;
}

:root {
    --bgcolor: #2D2C59;
    --textcolor: #fff;
    --btncolor: #371BF2;
}

.header {
    background-color: var(--bgcolor);
    text-align: center;
    padding: 40px 0;
    color: var(--textcolor);
}

.content {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tabs {
    display: flex;
    list-style: none;
}

.tabs li {
    padding: 10px;
    /* background-color: var(--bgcolor); */
    color: var(--bgcolor);
    border-right: 1px solid white;
    cursor: pointer;
    transition: 0.2s;
}
.tabs li.active{
    background-color: var(--bgcolor);
    color: var(--textcolor);
    font-weight: bold;
}
.left> div:nth-child(3) {
    display: none;
}

/*.right {
    width: 60%;
} */
.card1,.card2 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bgcolor);
    margin-bottom: 20px;
}

/* .card2{
    display: none;
} */
h2 {
    text-align: center;
    font-size: 25px;
}

form {
    padding: 15px;
}

label {
    font-size: 16px;
    display: block;
}

input {
    width: 90%;
    padding: 5px;
    margin: 7px 0;
    outline: none;
    font-size: 15px;
    border: 1px solid var(--bgcolor);
    border-radius: 5px;
}

.langs {
    margin-bottom: -20px;
}

select {
    width: 90%;
    padding: 5px;
    outline: none;
    font-size: 15px;
    border: 1px solid var(--bgcolor);
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    width: 90%;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    font-size: 20px;
    border-radius: 5px;
}

.btn:hover {
    color: black;
    background-color: var(--textcolor);
}

.repo-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px 0;
    text-decoration: none;
}

.search-term {
    font-weight: bold;
}

.repo-item:hover {
    background-color: #101026;
}

.repolink {
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width:767px) {
    .content{
        /* margin-left: 25px; */
    }
    h2{
        font-size: 19px;
    }
    .card1,.card2{
        width: 100%;
    }
    form {
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center; */
        padding-left: 44px;
        /* border: 1px solid #2D2C59; */
    }
    .repo-item{
        width: 300px;
        margin: 5px 30px;
    }
    .search-term{
        padding-left: 30px;
    }
}